.form__block {
    background-color: white;
    max-width: 450px;
    margin: 100px auto;
    padding: 0 0 20px 0;
    border-radius: 5px;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.main-theme__block {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 0 20px;
    margin: 0 0 20px 0;
    font-size: 15px;
    font-weight: bold;
    background-color: mediumblue;
    color: white;
    border-radius: 5px 5px 0 0;
}

.input-form__block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-form {
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 40px;
    border-bottom: solid;
    border-bottom-color: darkgray;
    border-bottom-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.register-button__block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 5px 0;
}

.register-button {
    margin-right: 45px;
    margin-left: auto;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: mediumblue;
    color: white;
    cursor: pointer;
}

.login-button__block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 5px 0;
}

.login-button {
    margin-right: 45px;
    margin-left: auto;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: mediumblue;
    color: white;
    cursor: pointer;
}

.input-form__error {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: red;
}