.shop-card {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.shop-card__image-content {
    width: 100%;
}

.shop-card__image {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.shop-card__title {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.shop-card__tag-content {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

.shop-card__tag {
    padding-left: 5px;
    font-size: 12px;
}

.shop-card__footer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
    margin-left: 15px;
}

.shop-card__detail-button-content {
    background-color: mediumblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100px;
}

.shop-card__detail-button {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 5px;
}

.shop-card__favorite-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px auto auto;
}

.shop-card__favorite-button {
    color: red;
    background-color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.shop-card__non-favorite-button {
    color: lightgray;
    background-color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
}